<div class="container-fluid h-100">
  <div class="row h-100">
    <!-- Left Column -->
    <div class="col-md-6 half left d-flex flex-column">
      <h2>Welcome To CineRent!</h2>
      <p>
        Discover the magic of movies with CineRent. Browse our extensive library, reserve your favorites,
        and enjoy cinematic experiences right from the comfort of your home. Let the adventure begin!
      </p>
      <p class="mt-3">
        Browse all of our movies and make reservations! <br>
        <a href="/movies" class="btn btn-outline-warning btn-sm mt-2">See more on our movies page...</a>
      </p>
    </div>

    <!-- Right Column -->
    <div class="col-md-6 half right d-flex flex-column">
      <h2>What's Being Watched</h2>
      <div id="hotMoviesCarousel" class="carousel slide">
        <div class="carousel-inner">
          {{#each hotMoviesGrouped}}
          <div class="carousel-item{{#if @first}} active{{/if}}">
            <div class="row justify-content-center">
              {{#each this}}
              <div class="col-md-4 d-flex justify-content-center">
                <div class="card shadow-sm h-100 w-100">
                  <img src="{{#if this.image_url}}{{this.image_url}}{{else}}/images/imageNotFound.png{{/if}}"
                    class="card-img-top" alt="{{this.title}}"
                    style="width: 100%; height: 300px; object-fit: cover; background-color: rgb(100, 100, 100);" />
                  <div class="card-body" style="background-color: #c7c7c7;">
                    <h5 class="card-title" style="text-align: center;">{{this.title}}</h5>
                    <p class="card-text">{{this.description}}</p>
                    <div class="d-flex justify-content-center">
                      <a href="/movies/{{this.id}}" class="btn btn-sm"
                        style="background-color: orange;"><b>Watch</b></a>
                    </div>
                  </div>
                </div>
              </div>
              {{/each}}
            </div>
          </div>
          {{/each}}
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#hotMoviesCarousel" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#hotMoviesCarousel" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
      <p class="fst-italic small text-center" style="color: rgb(199, 199, 199);">
        Based on rentals made in the last week.
      </p>
    </div>
  </div>
</div>

<style>
  html,
  body {
    height: 95vh;
    margin: 0;
  }

  .right {
    background-color: #363636;
    align-items: center;
    justify-content: center;
  }

  .flex-column {
    display: flex;
    flex-direction: column;
    padding: 20px;
  }

  .carousel,
  .slide {
    width: 80%;
  }

  .left {
    display: flex;
    background-color: #363636;
    /* dark background */
    justify-content: center;
    /* center content vertically */
    align-items: center;
    padding: 2vw;
    height: 100%;
  }

  .left h2,
  .right h2 {
    font-size: 4em;
    font-weight: 900;
    margin-bottom: 20px;
    color: #ffc107;
    text-align: center;
  }

  .left p {
    font-size: 2em;
    color: #f8f9fa;
    /* light description text */
    max-width: 75%;
    text-align: center;
  }

  .left button {
    margin-top: 20px;
  }
</style>